<div id="user-profile"
  data-user="<%= current_user.to_json(only: [:name, :email, :language]) %>"
  data-languages="<%= LyricSnippet.languages.to_json %>">
</div>

<%= javascript_pack_tag "user_profile" %>
