.result-button-container {
  display: flex;
  gap: 10px;
}

// .result-button {
//   width: 180px;
//   height: 40px;
//   border-radius: 40%;
//   font-size: 24px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: none;
//   cursor: pointer;
//   transition: transform 0.1s ease-in-out;

//   &:hover {
//     transform: scale(1.05);
//   }

//   &:active {
//     transform: scale(0.95);
//   }

//   &.success {
//     background-color: #7dc38d;
//     color: white;
//   }

//   &.failure {
//     background-color: #ab5e66;
//     color: white;
//   }
// }


.button-fancy {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .2s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  // height: auto;
  aspect-ratio: 4 / 1;
  margin: 3%;
  margin-left: 6%;
}

.button-fancy:hover,
.button-fancy:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-fancy:active {
  background: var(--color);
  color: #fff;
}

// .button-fancy-success {
//   @extend .button-fancy;
//   --color: #1f3923;
// }

// .button-fancy-fail {
//   @extend .button-fancy;
//   --color: #631616;
// }
